.calculator {
    border-radius: 10px;
    padding: 10px;
    background-color: rgba(240, 248, 255, 0.436);
    backdrop-filter: blur(4px);
    width: 40vw;
    max-width: 400px;
    min-width: 250px;

    .answer{
        margin-bottom: 16px;
        input{
            background-color: rgba(0, 0, 0, .75);
            
            display: flex;
            flex-wrap: wrap;
            backdrop-filter: blur(4px);
            width: 100%;
            font-size: 40px;
            text-align: end;
            padding: 10px 20px;
            color: aliceblue;
            outline: none;
            
            border-top-left-radius: 5px;
            border-top-right-radius: 5px;
        }
    }

    .buttons{
        display: grid;
        height: 300px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
        grid-template-areas: 
        "ac ac percentage divider"
        "seven eight nine multipler"
        "four five six minus"
        "one two three plus"
        "zero zero dot equal";
        background-color: rgb(204, 202, 202);
        gap: 0.1rem;

        @media screen and (max-width: 600px) {
            height: 400px;
        }
        
        button {
            border: none;
            font-size: 30px;
            color: #000000;

            &:hover{
                background-color: #A2FF86;
            }
        }

        #ac {
            grid-area: ac;
        }

        #zero {
            grid-area: zero;
        }

        .symbol {
            background-color: rgb(77, 155, 49);
            color:#000000;
        }
    }
}